In [11]:
>>> def print_numbers(a, b, c):
...     print(a)
...     print(b)
...     print(c)

In [12]:
>>> x = [10, 20, 30]
>>> print_numbers(*x)
10
20
30

10
20
30

30

In [13]:
>>> print_numbers(*[10, 20, 30])
10
20
30

10
20
30

30

In [15]:
>>> def print_numbers(*args):
...     for arg in args:
...         print(arg)
...

In [16]:
>>> print_numbers(10)
10
>>> print_numbers(10, 20, 30, 40)
10
20
30
40

10
10
20
30
40

40

In [17]:
>>> x = [10]
>>> print_numbers(*x)
10
>>> y = [10, 20, 30, 40]
>>> print_numbers(*y)
10
20
30
40

10
10
20
30
40

40

In [18]:
>>> def print_numbers(a, *args):
...     print(a)
...     print(args)
...
>>> print_numbers(1)
1
()
>>> print_numbers(1, 10, 20)
1
(10, 20)
>>> print_numbers(*[10, 20, 30])
10
(20, 30)

1
()
1
(10, 20)
10
(20, 30)

(20, 30)

In [19]:
>>> def personal_info(name, age, address):
...     print('이름: ', name)
...     print('나이: ', age)
...     print('주소: ', address)
...

In [21]:
>>> personal_info('홍길동', 30, '서울시 용산구 이촌동')
# 이름:  홍길동
# 나이:  30
# 주소:  서울시 용산구 이촌동

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [22]:
>>> personal_info(name='홍길동', age=30, address='서울시 용산구 이촌동')
# 이름:  홍길동
# 나이:  30
# 주소:  서울시 용산구 이촌동

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [23]:
>>> personal_info(age=30, address='서울시 용산구 이촌동', name='홍길동')
# 이름:  홍길동
# 나이:  30
# 주소:  서울시 용산구 이촌동

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [24]:
print(10, 20, 30, sep=':', end='')

10:20:30

In [25]:
>>> x = {'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'}
>>> personal_info(**x)
# 이름:  홍길동
# 나이:  30
# 주소:  서울시 용산구 이촌동

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [26]:
>>> personal_info(**{'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'})
# 이름:  홍길동
# 나이:  30
# 주소:  서울시 용산구 이촌동

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [27]:
>>> x = {'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'}
>>> personal_info(*x)
# 이름:  name
# 나이:  age
# 주소:  address

이름:  name
나이:  age
주소:  address

In [30]:
>>> def personal_info(**kwargs):
...     for k, v in kwargs.items():
...         print(f"{k}: {v}")
...

In [31]:
>>> personal_info(name='홍길동')
# name: 홍길동
>>> personal_info(name='홍길동', age=30, address='서울시 용산구 이촌동')
# name: 홍길동
# age: 30
# address: 서울시 용산구 이촌동

name: 홍길동
name: 홍길동
age: 30
address: 서울시 용산구 이촌동