In [16]:
s = "Your word: Buffalo"
index_a = s.find('a')

if index_a != -1:
    print(s[:index_a + 1])
    print(s[index_a+1:])
else:
    print(s)

Your word: Buffa
lo

In [25]:
total = 0

for num in range(1, 1001):
    digits_sum = 0
    for digit in str(num):
        digits_sum += int(digit)
    total += digits_sum
print(total)

13501

In [28]:
even_numbers = [num for num in range(1,11) if num%2 ==0]
print(even_numbers)

original_list = [1,2,3,4,5]
new_list = [num + 1 for num in original_list]
print(new_list)

[2, 4, 6, 8, 10]
[2, 3, 4, 5, 6]

In [30]:
words = ['apple', 'banana', 'cherry', 'durian']
word_lengths = [len(word) for word in words]
print(word_lengths)  # [5, 6, 6, 6]

words = ["apple", "banana", "orange", "grape", "watermelon"]
result = [word.upper() for word in words if len(word) >= 5]
print(result)  # ['BANANA', 'ORANGE', 'WATERMELON']

[5, 6, 6, 6]
['APPLE', 'BANANA', 'ORANGE', 'GRAPE', 'WATERMELON']

In [31]:
original_list = [[1, 2], [3, 4], [5, 6]]
new_list = [num for sublist in original_list for num in sublist]
print(new_list)  # [1, 2, 3, 4, 5, 6]

matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
result = [num for row in matrix for num in row if num % 2 == 0]
print(result)  # [2, 4, 6, 8]

[1, 2, 3, 4, 5, 6]
[2, 4, 6, 8]

In [33]:
# 리스트 인덱싱 예시
fruits = ["apple", "banana", "cherry"]
print(fruits[0])  # "apple" 출력
print(fruits[1])  # "banana" 출력
print(fruits[-1])  # "cherry" 출력

apple
banana
cherry

In [38]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matrix[0])  # [1, 2, 3] 출력
print(matrix[1])  # [4, 5, 6] 출력
print(matrix[2])  # [7, 8, 9] 출력
print(matrix[0][1])  # 2 출력
print(matrix[1][2])  # 6 출력

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
2
6

In [39]:
my_list = [1, 2, 3, 4, 5]
print(my_list[1:4])   # [2, 3, 4]
print(my_list[:3])    # [1, 2, 3]
print(my_list[2:])    # [3, 4, 5]
print(my_list[::2])   # [1, 3, 5]

[2, 3, 4]
[1, 2, 3]
[3, 4, 5]
[1, 3, 5]

In [40]:
my_list = [1, 2, 3, 4, 5]
print(my_list[-3:])   # [3, 4, 5]
print(my_list[:-2])   # [1, 2, 3]

[3, 4, 5]
[1, 2, 3]

In [41]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = list1 + list2
print(list3) # 출력 결과: [1, 2, 3, 4, 5, 6]

list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)
list3 = list1
print(list3) # 출력 결과: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [42]:
my_list = [1, 2, 3, 4]
my_list[2] = 5
print(my_list) # 출력 결과: [1, 2, 5, 4]

my_list = [1, 2, 3, 4]
my_list[1:3] = [5, 6]
print(my_list) # 출력 결과: [1, 5, 6, 4]

[1, 2, 5, 4]
[1, 5, 6, 4]

In [ ]:
my_list = [1, 2, 3, 4]
my_list.append(5)
print(my_list) # 출력 결과: [1, 2, 3, 4, 5]

my_list = [1, 2, 3, 4]
my_list.insert(2, 5)
print(my_list) # 출력 결과: [1, 2, 5, 3, 4]

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list[1:4] = []
print(my_list) # 출력 결과: [1, 5]

my_list = [1, 2, 3, 4]
del my_list[2]
print(my_list) # 출력 결과: [1, 2, 4]

In [ ]:
my_list = [1, 2, 3, 4]
my_list.remove(3)
print(my_list) # 출력 결과: [1, 2, 4]

my_list = [1, 2, 3, 4]
my_list.pop()
print(my_list) # 출력 결과: [1, 2, 3]

my_list = [1, 2, 3, 4, 5]
removed_item = my_list.pop(2)
print(my_list) # 출력 결과: [1, 2, 4, 5]
print(removed_item) # 출력 결과: 3

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.clear()
print(my_list) # 출력 결과: []

In [45]:
a = [3, 2, 1]
a.sort()
print(a)  # 출력: [1, 2, 3]

a = [3, 2, 1]
b = sorted(a)
print(a)  # 출력: [3, 2, 1]
print(b)  # 출력: [1, 2, 3]

a = [1, 2, 3]
a.reverse()
print(a)  # 출력: [3, 2, 1]

a = [1, 2, 3]
b = reversed(a)
print(a)  # 출력: [1, 2, 3]]
# list로 형변환해야 결과가 출력됨
print(list(b))  # 출력: [3, 2, 1]
print(b)  # 출력: [3, 2, 1]

[1, 2, 3]
[3, 2, 1]
[1, 2, 3]
[3, 2, 1]
[1, 2, 3]
[3, 2, 1]
<list_reverseiterator object at 0x00000260D4259CF0>

In [46]:
# 이터러블 객체를 만들고
my_list = [1, 2, 3, 4, 5]

# 이터러블 객체로 이터레이터 생성
my_iter = iter(my_list)

# 이터레이터를 사용하여 값을 출력
print(next(my_iter))  # 1
print(next(my_iter))  # 2
print(next(my_iter))  # 3

1
2
3

In [60]:
f = ['철수', '영희', '기철', '기영']

f.insert(1,'길동')
print(f)
f.insert(2, '미진')
print(f)
f.append('희환')
print(f)

['철수', '길동', '영희', '기철', '기영']
['철수', '길동', '미진', '영희', '기철', '기영']
['철수', '길동', '미진', '영희', '기철', '기영', '희환']

In [80]:
list = [1,2,3,4,5]
list[1] = 17
print(list)
list2 = [4,5,6]
print(list + list2)
remove = list.pop(0)
print(list)
list.sort()
print(list)
list.insert(3, 25)
print(list)

[1, 17, 3, 4, 5]
[1, 17, 3, 4, 5, 4, 5, 6]
[17, 3, 4, 5]
[3, 4, 5, 17]
[3, 4, 5, 25, 17]

In [89]:
list1 = [list1 for list1 in range(0,50)]
print(list1)
list2 = [list2**2 for list2 in range(1,51)]
print(list2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500]

In [104]:
L = [1,2,3]
M = [4,5,6]
N = []
for i in range(len(L)):
    N.append(L[i]+M[i])
print(N)


# N = [L[0]+M[0],L[1]+M[1],L[2]+M[2]]
# print(N)

[5, 7, 9]

In [106]:
list = input("숫자 5개를 입력하세요 (구분자 : 띄어쓰기): ").split()
result = "+".join(list)
print(result)

숫자 5개를 입력하세요 (구분자 : 띄어쓰기): 1 3 4 5 8 7 6 10
1+3+4+5+8+7+6+10

In [108]:
x = 1
y = 2
x,y = y,x
print(x,y)

2 1

In [112]:
# 빈 딕셔너리 생성
empty_dict = {}

# 문자열과 숫자로 이루어진 딕셔너리 생성
my_dict = {'apple': 1, 'banana': 2, 'cherry': 3}

# 다양한 타입으로 이루어진 딕셔너리 생성
mixed_dict = {'name': 'John', 'age': 25, 3: 'three', (1, 2): 'tuple'}

print(mixed_dict)

my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}
print(my_dict['name'])  # 'Alice'
# print(my_dict['phone'])  # KeyError

my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}
if 'name' in my_dict:
    print(my_dict['name'])  # 'Alice'
if 'phone' in my_dict:
    print(my_dict['phone'])  # 실행되지 않음

{'name': 'John', 'age': 25, 3: 'three', (1, 2): 'tuple'}
Alice
Alice

In [ ]:
# 딕셔너리 생성
person = {"name": "Alice", "age": 25, "gender": "female"}

# "name" 키의 값을 "Bob"으로 수정
person["name"] = "Bob"

# 딕셔너리 출력
print(person)  # {"name": "Bob", "age": 25, "gender": "female"}

In [113]:
my_dict = {'a': 1, 'b': 2}
my_dict['c'] = 3
print(my_dict)  # {'a': 1, 'b': 2, 'c': 3}

my_dict = {'a': 1, 'b': 2, 'c' : 3}
my_dict.update({'c': 3, 'd': 4})
print(my_dict)  # {'a': 1, 'b': 2, 'c': 3, 'd': 4}

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [116]:
fruits = {'apple': 2, 'banana': 3, 'orange': 1, 'grape': 4}
del fruits['orange']
print(fruits)  # {'apple': 2, 'banana': 3, 'grape': 4}

if 'orange' in fruits:
    del fruits['orange']
else:
    print('orange 키가 존재하지 않습니다.')

{'apple': 2, 'banana': 3, 'grape': 4}
orange 키가 존재하지 않습니다.

In [3]:
days = {'January':31, 'February':28, 'March':31, 'April':30,'May':31, 'June':30,
        'July':31, 'August':31,'September':30, 'October':31, 'November':30, 'December':31}
month = input("몇 월인가요? :")

# # 1번
# days_get = days[month]
# print(days_get)

# 2번
days_keys = list(days.keys())
print(sorted(days_keys))

# 3번
for mon in days:
    if days[mon] == 31:
        print(mon, end =" ")

# 4번
days_items = list(days.items())
t_days = [(days, month) for (month, days) in days_items]
t_days.sort()
t_days = [(month, days) for (days, month) in t_days]
print(t_days)


# 5번
for month in days:
    if month[:3] == month.title():
        print(days[month])

몇 월인가요? :Jan
['April', 'August', 'December', 'February', 'January', 'July', 'June', 'March', 'May', 'November', 'October', 'September']
January March May July August October December [('February', 28), ('April', 30), ('June', 30), ('November', 30), ('September', 30), ('August', 31), ('December', 31), ('January', 31), ('July', 31), ('March', 31), ('May', 31), ('October', 31)]
31

In [3]:
d=[{'name':'Todd', 'phone':'555-1414', 'email':'todd@mail.net'},{'name':'Helga', 'phone':'555-1618', 'email':'helga@mail.net'},
   {'name':'Princess', 'phone':'555-3141', 'email':''},{'name':'LJ', 'phone':'555-2718', 'email':'lj@mail.net'}]

# 1번
for d_phone in d:
    if len(d_phone['phone']) == 8:
        print(d_phone['name'])
print()
# 2번
for d_email in d:
    if d_email['email'] == "":
        print(d_email['name'])        
print()

# 3번
d_name = input("사용자 이름을 입력하세요: ")
isTrue = False
for d_info in d:
    if d_info['name'] == d_name:
        d_number = d_info['phone']
        d_mail = d_info['email']
        print(f"전화번호: {d_number}, 이메일: {d_mail}")
        isTrue = True
        break
        
if not isTrue:
    print("이름이 없습니다.")

Todd
Helga
Princess
LJ

Princess

사용자 이름을 입력하세요: dfa
이름이 없습니다.
이름이 없습니다.
이름이 없습니다.
이름이 없습니다.

In [28]:
import random

pick = set()

while(len(pick) < 6):
    rand = random.randint(1,45)
    pick.add(rand)

print(pick)
print(sorted(pick))

{39, 7, 42, 12, 21, 27}
[7, 12, 21, 27, 39, 42]

In [33]:
d = {"Alice": [85, 90, 95],"Bob": [75, 80, 85],"Charlie": [95, 95, 95]}
print("Average grades: ")
for name, grade_list in d.items():
    avg = sum(grade_list) / len(grade_list)
    print(f"{name}: {avg}")

Average grades:
Alice: 90.0
Bob: 80.0
Charlie: 95.0

In [35]:
d = [1,2,2,3,3,3,4,4,5]
d_set = set(d)
print(d_set)
print(sum(d_set))

{1, 2, 3, 4, 5}
15

In [96]:
text = input("문자열을 입력하세요.")
result = {}

for char in text:
    if char in result:
        result[char] += 1
    else:
        result[char] = 1
print(result)

문자열을 입력하세요.adsfkjaspgbonaspobgnopsnoadgsonsdgpo
{'a': 4, 'd': 3, 's': 6, 'f': 1, 'k': 1, 'j': 1, 'p': 4, 'g': 4, 'b': 2, 'o': 6, 'n': 4}

In [100]:
# 띄워쓰기로 input 받기
listA = input("리스트 A를 입력하세요").split()
listB = input("리스트 B를 입력하세요").split()

setA = set(listA)
setB = set(listB)
print(sorted(setA & setB))

리스트 A를 입력하세요1 2 3 7 4 9 8
리스트 B를 입력하세요58 12 96 1 3 5
['1', '3']

In [108]:
def sum(n):
    total = 0
    for i in range(1, n+1):
        total += i
    return total
sum(10)

55

In [114]:
def cir_area(r):
    area = 2*3.14*r
    return area
cir_area(3.5)

21.98

In [113]:
def cir_cirm(r):
    cirm = 3.14*r**2
    return cirm
cir_cirm(3.5)

38.465

In [ ]:
def den(n):
    for i in range(i, n+1):
        if n % i == 0:
            return den

In [4]:
# 위치 인자와 키워드 인자 사용 예시
def print_info(name, age, gender):
    print(f"Name: {name}")
    print(f"Age: {age}")
    print(f"Gender: {gender}")

# 위치 인자를 사용하여 함수 호출
print_info("Alice", 25, "Female")

# 키워드 인자를 사용하여 함수 호출
print_info(age=30, name="Bob", gender="Male")

Name: Alice
Age: 25
Gender: Female
Name: Bob
Age: 30
Gender: Male

In [4]:
students = [
    {'name': 'Alice', 'score': 80},
    {'name': 'Bob', 'score': 90},
    {'name': 'Charlie', 'score': 70},
]

# 점수(score)를 기준으로 학생 리스트 정렬
sorted_students = sorted(students, key=lambda student: student['score'], reverse=True)
print(sorted_students)
# 출력 결과: [{'name': 'Bob', 'score': 90}, {'name': 'Alice', 'score': 80}, {'name': 'Charlie', 'score': 70}]

[{'name': 'Bob', 'score': 90}, {'name': 'Alice', 'score': 80}, {'name': 'Charlie', 'score': 70}]

In [3]:
def get_operator(operator):
    if operator == '+':
        return lambda a, b: a + b
    elif operator == '-':
        return lambda a, b: a - b
    elif operator == '*':
        return lambda a, b: a * b
    elif operator == '/':
        return lambda a, b: a / b

# 함수의 반환값으로 람다 함수 사용
add_func = get_operator('+')
result1 = add_func(3, 4)  # 7

multiply_func = get_operator('*')
result2 = multiply_func(3, 4)  # 12

In [2]:
def func(m,n):
    for i in range(m):
        print("*" * n)
        
func(2,4)

****
****

In [14]:
def func(n):
    num = str(n)
    digit_sum = 0
    for digit in num:
        digit_sum += int(digit)
    return digit_sum

func(2411)

8

In [18]:
def func(n):
    if n == 1:
        return 1
    else:
        return (1+n)*n/2
func(100)

5050.0